@import url('https://fonts.googleapis.com/css?family=Poppins:500,700,900');

.Column {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 70%;
    flex-direction: column;
}

.Button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    margin-top: 24px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    margin-bottom: 0px;
    color: #e6ecc5;
    background-color: #F15826;
    border-width: 3px;
    border-style: none;
    box-shadow: 8px 8px 0 0px #E1FD2C;
}


h1 {
    font-size: 86px;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 24px;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
}

section {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-right: 24px;
    padding-bottom: 80px;
    padding-left: 24px;
}

nav {
    display: flex;
    flex-direction: row;
    column-gap: 36px;
}

.Container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: stretch;
    justify-content: center;
    max-width: 1240px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Poppins', sans-serif;
}

.Secondary {
    background-color: #dcceef;
}

footer {
    width: 100%;
    padding: 24px;
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
}

.Text {
    padding-right: 80px;
}

.Row {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #F15826;
}

.heading1-tmvku {
    background-color: #d1a5a5;
}

.heading1-zqzjq {
    background-color: #a96262;
}

.heading1-cua9t {
    background-color: #b63a3a;
}

.body-uii4e {
    flex-direction: row;
}

.Hero {
    background-size: cover;
    background-attachment: fixed;
    color: #e6ecc5;
    background-position-x: 50%;
    background-color: #EDD5EB;
}

.header-gix7t {
    align-items: center;
}

.header-uozr0 {
    justify-content: space-between;
}

.Form {
    column-gap: 12px;
}

.Input {
    color: #000000;
    background-color: #ffffff;
}

.span-jwhjg {
    color: #f25920;
}

.bold-an72e {
    font-size: 18px;
    box-shadow: 0 0 0 0 #000000;
    color: #EDD5EB;
}

.heading3-axct7 {
    font-size:28px;
    color: #F15826;
}

.paragraph-gondx {
    font-size: 24px;
    color: #F15826;
    font-weight: 700;
}

.span-i5mp4 {
    width: 70%;
   /* margin: 8px; */
    color: #F15826;
    font-size: 24px;
    font-weight: 900;
}

@media (max-width: 768px) {
    .Column {
        width: 100%;
    }
}
@media (max-width:768px) {
    .link-8nomu {
        margin: 8px;
        font-size: 36px;
    }
}
.wave {
  animation-name: wave-animation;  
  animation-duration: 1.5s;        
  animation-iteration-count: 1; 
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(2.0deg) }
   20% { transform: rotate(-2.0deg) }
   30% { transform: rotate(2.0deg) }
   40% { transform: rotate(-2.0deg) }
   50% { transform: rotate(2.0deg) }
   60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}
